* {
    border: none;
    border-radius: 8px;
    font-family: "Adwaita Sans" , medium;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: rgba(20, 4, 35, 0.9);
    color: #ffffff;
    margin: 12px 10px;
    border-radius: 8px;
}

/* Workspaces */
#workspaces button {
    padding: 4px 8px;
    margin: 4px 3px;
    border-radius: 8px;
    color: #908caa;
    background: transparent;
}

#workspaces button.active {
    background: #222222;
    color: #ffffff;
}

#workspaces button.focused {
    background: #851fd4;
    color: #ffffff;
}

#workspaces button.urgent {
    background: #222222;
    color: #ffffff;
}

#workspaces button.inactive {
    background: #222222;
    color: #ffffff;
}

/* Window title */
#window {
    padding: 4px 10px;
    margin: 4px;
    border-radius: 8px;
    background: #851fd4;
}

/* Generic modules */
#clock,
#cpu,
#memory,
#temperature,
#battery,
#network,
#pulseaudio,
#backlight,
#idle_inhibitor,
#tray {
    padding: 4px 10px;
    margin: 4px 3px;
    border-radius: 8px;
    background: rgba(34, 34, 34, 0);
    color: #ffffff;
}

/* Hover = focused purple */
#clock:hover,
#cpu:hover,
#bluetooth:hover,
#memory:hover,
#temperature:hover,
#battery:hover,
#network:hover,
#pulseaudio:hover,
#backlight:hover,
#idle_inhibitor:hover
{
    background: #851fd4;
}

/* Muted / inactive states */
#pulseaudio.muted,
#network.disconnected {
    background: #222222;
    color: #908caa;
}

/* CPU states*/
#cpu {
  color: #a6e3a1;
}

#cpu.warning {
  color: #a6e3a1;
}

#cpu.critical {
  color: #be185d;
}

/* Memory/RAM */
#memory {
  color: #a6e3a1;
}

#memory.warning {
  color: #a6e3a1;
}

#memory.critical {
  color: #be185d;
}

/* Temperature */
#temperature {
  color: #a6e3a1;
}

#temperature.critical {
  color: #be185d;
}

/* Battery states */

#battery {
  color: #a6e3a1;  /* green by default */
}

#battery.charging {
  color: #a6e3a1;  /* green when charging */
}

#battery.critical {
    color: #be185d;
}
