* {
    border: none;
    border-radius: 10px;
    font-family: "Adwaita Sans" , medium;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: rgba(13, 11, 9, 0.9);
    color: #ffffff;
    margin: 12px 10px;
    border-radius: 10px;
}

/* Workspaces */
#workspaces button {
    padding: 4px 8px;
    margin: 4px 3px;
    border-radius: 8px;
    color: #908caa;
    background: transparent;
}

#workspaces button.active {
    background: #222222;
    color: #ffffff;
}

#workspaces button.focused {
    background: #851fd4;
    color: #ffffff;
}

#workspaces button.urgent {
    background: #222222;
    color: #ffffff;
}

#workspaces button.inactive {
    background: #222222;
    color: #ffffff;
}

/* Window title */
#window {
    padding: 4px 10px;
    margin: 4px;
    border-radius: 8px;
    background: #851fd4;
}

/* Generic modules */
#clock,
#cpu,
#memory,
#temperature,
#battery,
#network,
#pulseaudio,
#backlight,
#idle_inhibitor,
#tray {
    padding: 4px 10px;
    margin: 4px 3px;
    border-radius: 8px;
    background: rgba(34, 34, 34, 0);
    color: #ffffff;
}

/* Hover = focused purple */
#clock:hover,
#cpu:hover,
#memory:hover,
#temperature:hover,
#battery:hover,
#network:hover,
#pulseaudio:hover,
#backlight:hover {
    background: #851fd4;
}

/* Muted / inactive states */
#pulseaudio.muted,
#network.disconnected {
    background: #222222;
    color: #908caa;
}

/* Battery states */
#battery.warning {
    background: #7e1ab8;
}

#battery.critical {
    background: #be185d;
}

